<div class="container-fluid">

    <!-- search form goes here -->

    <div class="repositories">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <!-- <h3><span class="headers">Repository Name:</span> {{ repo.name }} </h3> -->
                </div>
                <hr>
                <div class="card-text">
                    <!-- <div class="description"><span class="headers">Description :</span> {{ repo.description }} </div> -->
                    <!-- <div class="card-subtitle"><span class="headers">Language :</span> {{ repo.language }} </div> -->
                    <!-- <div class="card-subtitle"><span class="headers">Joined :</span> {{ repo.created_at }} </div> -->
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-outline-success">View</button>
            </div>
        </div>
    </div>

</div>
