/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");

body{
    background-image: url("./assets/five-bulb-lights-1036936.jpg");
    font-family: 'Amaranth', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}